.info-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.info-title {
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
}
.info-body {
  display: flex;
  height: 50vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.info-text-top {
  max-width: 60vh;
}
.info-text-mid {
  max-width: 65vh;
}
.info-text-bottom {
  max-width: 60vh;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  background-color: grey;
}
